Backups
Cache
CachedConfigurations
CachedData
CachedExtensionVSIXs
CachedProfilesData
Code Cache
Crashpad
DawnGraphiteCache
DawnWebGPUCache
GPUCache
History
Local State
Local Storage
Network
Service Worker
Session Storage
Shared Dictionary
SharedStorage
SharedStorage-wal
WebStorage
blob_storage
code.lock
globalStorage
logs
machineid
workspaceStorage
